<app-addbond></app-addbond>
<br>

<table class="table table-hover table-dark" >
  <thead>
    <tr>
      <th scope="col">Bondname</th>
      <th scope="col">Ticker</th>
      <th scope="col">Price</th>
      <th scope="col">Rate</th>
      <th scope="col">Maturity</th>
      <th scope="col">rating</th>
     
    </tr>
  </thead>

    <tr *ngFor="let bond of bonds| filter : 'bondname' : searchString; " (click)="checking(bond)">
     
      <td>{{bond.bondname}}</td>
      <td>{{bond.ticker}}</td>
      <td>{{bond.price| currency:'EUR ' :'code'}} </td>
      <td>{{bond.rate | percent}}</td>
      <td>{{bond.maturity}} year</td>
      <td>{{bond.rating}}</td>
    </tr>
  
  </tbody>
</table>

<div>
<input type="text" class="form-control col-md-2" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
</div>

<app-buybonds></app-buybonds>


